<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JustDoIt.Mecca.KJH.mapper.GeneralMapper">
    <!-- 게시글 작성 -->
    <insert id="insertGeneral" parameterType="General">
        INSERT INTO GENERAL_TBL (G_NO, G_WRITER_EMAIL, G_NICKNAME, G_TITLE, G_CONTENT, G_CREATED_DATE, G_VIEW, G_LIKE)
        VALUES (SEQ_GENERAL_NO.NEXTVAL, #{gWriterEmail}, #{gNickname}, #{gTitle}, #{gContent}, DEFAULT, DEFAULT, DEFAULT)
    </insert>

    <!-- 게시글 상세 조회 -->
    <select id="selectGeneral" parameterType="int" resultType="General">
        SELECT G_NO, G_WRITER_EMAIL, G_NICKNAME, G_TITLE, G_CONTENT, G_CREATED_DATE, G_VIEW, G_LIKE
        FROM GENERAL_TBL
        WHERE G_NO = #{id}
    </select>

    <!-- 게시글 목록 조회 -->
    <select id="selectGeneralList" resultType="General">
        SELECT G_NO, G_WRITER_EMAIL, G_NICKNAME, G_TITLE, G_CONTENT, G_CREATED_DATE, G_VIEW, G_LIKE
        FROM GENERAL_TBL
    </select>

    <!-- 게시글 수정 -->
    <update id="updateGeneral" parameterType="General">
        UPDATE GENERAL_TBL
        SET G_WRITER_EMAIL = #{gWriterEmail},
            G_NICKNAME = #{gNickname},
            G_TITLE = #{gTitle},
            G_CONTENT = #{gContent},
            G_VIEW = #{gView},
            G_LIKE = #{gLike}
        WHERE G_NO = #{gNo}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteGeneral" parameterType="int">
        DELETE FROM GENERAL_TBL
        WHERE G_NO = #{id}
    </delete>
    <select id="selectGeneralListWithPaging" parameterType="map" resultType="General">
        SELECT G_NO, G_WRITER_EMAIL, G_NICKNAME, G_TITLE, G_CONTENT, G_CREATED_DATE, G_VIEW, G_LIKE
        FROM (
                 SELECT ROWNUM AS RN, G_NO, G_WRITER_EMAIL, G_NICKNAME, G_TITLE, G_CONTENT, G_CREATED_DATE, G_VIEW, G_LIKE
                 FROM GENERAL_TBL
                 ORDER BY G_CREATED_DATE DESC
             )
        WHERE RN BETWEEN #{startRow} AND #{endRow}
    </select>
</mapper>
