<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		#di1{
			background-image: url('https://i.namu.wiki/i/Bge3xnYd4kRe_IKbm2uqxlhQJij2SngwNssjpjaOyOqoRhQlNwLrR2ZiK-JWJ2b99RGcSxDaZ2UCI7fiv4IDDQ.webp');
			width:150px;
			height:150px;
			background-repeat: no-repeat;
			
			background-size: cover;
			
		}
	</style>
	</head>
	<body>
		<div id="di1"></div>
		<div>[[${match.matchingCatagory}]]</div>
		<div>[[${match.matchingId}]]</div>
		<div>[[${match.matchingGrade}]]</div>
		<div>[[${match.matchingContent}]]</div>
		
		
	</body>
</html>