
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">


<link rel="icon" type="image/ico" href="${pageContext.request.contextPath}/resources/static/images/favicon.ico">

    <head>
        <meta charset="UTF-8">
        <title>매칭 메인</title>
        <style>
         	td{
         		border: 1px solid black;
         	}
         	th{
         		border: 1px solid black;
         	}
			#dibody{
/* 				background-color: green; */
				
				
			}
			table{
				margin: 0 auto;
				border: 1px solid black;
				
			}
			body{
				background-color: aliceblue;
			}
        </style>
        
        
    </head>
    <body>
    <div id="dibody">
    <table>
        <tr>
            <th>카테고리</th>
            <th>게임</th>
            <th>아이디</th>
            <th>등급</th>
            <th>내용</th>
            <th>인원</th>
            <th>등록일시</th>
            <th> <button th:onclick="register();">등록</button></th>
           
            
        </tr>
        <tr th:each="matching,a:${mList}" varStatus="status">

            <td>[[${matching.matchingCatagory}]]</td>
            <td>[[${matching.matchingGame}]]</td>
            <td>[[${matching.matchingId}]]</td>
            <td>[[${matching.matchingGrade}]]</td>
<!-- 			<td><a th:href="@{/matching/detail/{matchingNo}(matchingNo=${matching.matchingNo})}">[[${matching.matchingContent}]]</a></td> -->
			<td><a href="javascript:void(0)" th:onclick="showdetail([[${matching.matchingNo}]]);">[[${matching.matchingContent}]]</a></td>
			
			<td th:id="'count'+${a.index}">[[${matching.matchingminCount}]]/[[${matching.matchingmaxCount}]]</td>
			<td>[[${matching.matchingDate}]]</td>
			<td><button th:onclick="together([[${a.index}]],[[${matching.matchingminCount}]],[[${matching.matchingmaxCount}]],[[${matching.matchingNo}]]);">같이게임하기</button></td>
		
<!-- <a th:href="@{/notice/detail/{noticeNo}(noticeNo=${notice.noticeNo})}"></a> -->
        </tr>

			<tr align="center">
				<td colspan="8">
					<th:block th:each="p : ${#numbers.sequence(pn.startNavi, pn.endNavi)}">
						<a th:href="@{/matching/search(cp=${p},searchCondition=${searchCondition},searchKeyword=${searchKeyword})}" th:text="${p}"></a>
					</th:block>
				</td>
			</tr>

        <tr>
            <td colspan="8" style="text-align: center">
                <form action="/matching/search" method="post">
                    <select name="searchCondition">
                        <option value="all" th:selected="${searchCondition == 'all' }">전체</option>
                        <option value="catagory" th:selected="${searchCondition == 'catagory' }" >게임</option>
                        <option value="content" th:selected="${searchCondition == 'content' }" >내용</option>
                    </select>
                    <input type="text" th:value="${searchKeyword}" name="searchKeyword" placeholder="검색어를 입력하세요">
                    <input type="submit" value="검색">
                </form>
            </td>

        </tr>

    </table>
    </div>


   
    <script>

    	var writeWindow;
    	var a=50;
    	
    	function showdetail(a){
    		var popupW = 500;
    		var popupH = 600;
    		var left = Math.ceil((window.screen.width - popupW)/2);
    		var top = Math.ceil((window.screen.height - popupH)/2);
    		myWindow=window.open("/matching/detail/"+a,"pop","width=500,height=500,left="+left+",top="+top+"");
    		
    	}
    	function register(){
    		var popupW = 500;
    		var popupH = 600;
    		var left = Math.ceil((window.screen.width - popupW)/2);
    		var top = Math.ceil((window.screen.height - popupH)/2);
    		writeWindow=window.open("/matching/register","pop","width=500,height=500,left="+left+",top="+top+"");
    		console.log(writeWindow);
    	}
    	
		
    	
    	
    	
    	


    	
    	let counter = new Array();

        function together(a,b,c,d) {
            let co = document.querySelector("#count" + a)
            console.log(b);
            b++;
            if (b > c) {
                alert("인원이 꽉찼습니다.")
            } else {
                co.innerText = `${b}/${c} `;
                var mes=window.prompt('좋아하는 숫자를 입력하세요.');
                console.log("mes");
                location.href="/matching/application?matchingNo="+d+"&message="+mes;

            }
        }
    </script>
    </body  >
</html>