<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>신청현황</title>
  </head>
  <body>
    <h1>접수현황</h1>
    <table>
        <tr>
            <th><a>신청자</a></th>
            <th>신청일정</th>
            <th>인원</th>
            <th>수락/거절</th>
        </tr>
        <tr th:each="signal:${rList}">
            <td>[[${signal.applicationId}]]</td>
            <td>[[${signal.regDate}]]</td>
            <td>[[${signal.matchingminCount}]]/[[${signal.matchingmaxCount}]]</td>
            <td th:if="${signal.applicationSituation}==1">수락</td>
            <td th:if="${signal.applicationSituation}==2">거절 하였습니다.</td>
            <td th:if="${signal.applicationSituation}==0"><button th:onclick="accep([[${signal.signalNo}]]);">수락</button><button th:onclick="refusal([[${signal.signalNo}]],[[${signal.matchingNo}]]);">거절</button></td>
            <td th:if="${signal.matchingminCount}==${signal.matchingmaxCount}">
                <button>게임 시작</button>
                <button onClick="chatopen();">채팅 하기</button>
            </td>
        </tr>
    </table>
    <h1>신청현황</h1>
    <table>
        <tr >
            <th>신청게임</th>
            <th>상태</th>
            <th>인원</th>
        </tr>
        <tr th:each="signal:${aList}">
            <td>[[${signal.matchingNo}]]</td>
            <td th:if="${signal.applicationSituation}==1">수락</td>
            <td th:if="${signal.applicationSituation}==0">보류</td>
            <td th:if="${signal.applicationSituation}==2">거절</td>
            <td>[[${signal.matchingminCount}]]/[[${signal.matchingmaxCount}]]</td>
            <td th:if="${signal.matchingminCount}==${signal.matchingmaxCount}">
                <button th:onclick="chatopen([[${signal.mainId}]]);">채팅참여</button>
            </td>
        </tr>

    </table>
  <script>
      function accep(a){
          location.href="/matching/accep?signalNo="+a;
          console.log(a);
      }
      function refusal(a,b){
          location.href="/matching/refusal?signalNo="+a+"&matchingNo="+b;
          console.log(a);
      }
      function chatopen(a){
          var popupW = 500;
          var popupH = 600;
          var left = Math.ceil((window.screen.width - popupW)/2);
          var top = Math.ceil((window.screen.height - popupH)/2);
          myWindow=window.open("/chat?chatid="+a,"pop","width=500,height=500,left="+left+",top="+top+"");

      }

  </script>




  </body>
</html>