<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JustDoIt.Mecca.LCM.mapper.AdminMapper">

    <update id="updateUserStatus">
        UPDATE USER_TBL SET U_STATUS =#{reportdate} WHERE U_EMAIL = #{uEmail}
    </update>
</mapper>