<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JustDoIt.Mecca.LCM.mapper.ReportMapper">
    <insert id="insertReport" parameterType="com.JustDoIt.Mecca.LCM.vo.Report">
        INSERT INTO REPORT_TBL (
            R_NO, R_WRITER_EMAIL, R_OBJECT_NO, R_OPTION, R_CREATED_DATE
        ) VALUES (
                     SEQ_REPORT_NO.NEXTVAL, #{rWriterEmail}, #{rObjectNo}, #{rOption}, #{rCreatedDate}
                 )
    </insert>
    <delete id="deleteReport" parameterType="String">
        DELETE FROM REPORT_TBL WHERE R_WRITER_EMAIL = #{rWriterEmail}
    </delete>
</mapper>