<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JustDoIt.Mecca.LCM.mapper.RatingMapper">
    <insert id="saveResetToken">
        INSERT INTO password_reset_tbl (email, token)
        VALUES (#{email}, #{token})
    </insert>
    <select id="findEmailByToken" resultType="String">
        SELECT email FROM password_reset_tbl WHERE token = #{token}
    </select>
    <update id="updatePassword">
        UPDATE user_tbl SET u_password = #{newPassword} WHERE u_email = #{email}
    </update>
    <delete id="deleteResetToken">
        DELETE FROM password_reset_tbl WHERE email = #{email}
    </delete>
</mapper>